@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body{
font-family: 'Roboto', sans-serif;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;

    .card{
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        background-color: #4158D0;
        background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
        color: var(--textColor)
        border-radius: 8px;
        padding: 1rem;
        img{
            width:100%;
        }
    }
}

.card{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin:50px 0px; 
    img{
        border-radius: 10px;
    }
}

.card-dcn{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin:50px 0px; 
    background:#f3f3f3aa; 
    padding: 1rem; 
    border-radius:10px;
}

.programming, .instrumentation_sensors, .dcn{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    
    .hero {

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin:50px 0;

        img{
            max-width: 450px;
        }

        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            h1{
                line-height: 1.6;
                font-weight: bold;
                text-align: center;
                text-justify: inter-word;
                span{
                    display: block;
                }
            }
        }
    }
}

.power_electronics{
    background-image: url("/images/power_electronics/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height : 45vh;
}

.communication_systems{
    text-align: center;
    h1{
        margin: 3rem 0;
    }
    img{
        border-radius: 8px;
    }
}
